.about_page{
  padding-bottom: 100px;
  .h2_style{
    color: $black;
  }

  .flex_grid{
    margin-top: 50px;
    display: flex;
    > div {
      display: inline-flex;
      &.text{
        justify-content: center;
        align-items: center;
      }
    }
  }
}