.breadcrumbs{
  margin: 50px 0;

  @extend .clearfix;

  @media(max-width: $grid_mobile){
    margin: 30px 0;    
  }

  li,
  span,
  a{
    font:{
      size: 14px;
      weight: 700;
    }
    color: #323232;
    text-transform: uppercase;

    @media(max-width: $grid_tablet){
      font-size: 12px;
    }
  }
  span{
    color: $darkgrey;
  }
  li{
    float: left;
    position: relative;
    margin-right: 30px;

    &:after{
      content: "»";
      display: block;
      position: absolute;
      top: 2px;
      right: -20px;
      color: $darkgrey;
      font-size: 10px;
    }

    &:first-child{
      color: #323232;
    }

    &:last-child:after{
      display: none;
    }
  }
  span{}
  a{}
  .active{}
}