.breadcrumbs{
  margin: 50px 0;

  @extend .clearfix;

  @media(max-width: $grid_tablet){
    margin: 30px 0;    
  }

  li,
  span,
  a{
    font:{
      size: 14px;
      weight: 700;
    }
    color: #323232;
    text-transform: uppercase;

    @media(max-width: $grid_tablet){
      font-size: 12px;
    }
  }
  span{
    color: $darkgrey;
  }
  li{
    float: left;
    position: relative;
    margin-right: 30px;

    &:after{
      content: "»";
      display: block;
      position: absolute;
      top: 2px;
      right: -20px;
      color: $darkgrey;
      font-size: 10px;

      @media(max-width: $grid_tablet){
        top: 0;
      }
    }

    &:first-child{
      color: #323232;
    }

    &:last-child:after{
      display: none;
    }
  }
  a{
    @include transition(color .25s);
    &:hover{
      color: $green;
    }
  }

  .icon-home{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;
    margin-left: -6px;

    font-size: 27px;
  }
}