.btn_wrapper{
  position: relative;
  z-index: 1;
}
.btn{
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid $green;
  outline: 0;
  cursor: pointer;
  position: relative;

  text-align: center;
  text-transform: uppercase;
  color: $black;
  background: none;
  font: {
    size: 16px;
    weight: 900;
  } 

  @include transition(all .25s ease);

  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background: $green;
    @include transition(all .3s);
  }

  &:hover,
  &:focus{
    color: #fff;

    &:after{
      width: 100%;
    }
  }
}