@font-face {
  font-family: 'Tiva-icons-font';
  src:  url('./fonts/Tiva-icons-font.eot');
  src:  url('./fonts/Tiva-icons-font.eot?nzb7gv#iefix') format('embedded-opentype'),
    url('./fonts/Tiva-icons-font.ttf?nzb7gv') format('truetype'),
    url('./fonts/Tiva-icons-font.woff?nzb7gv') format('woff'),
    url('./fonts/Tiva-icons-font.svg?nzb7gv#Tiva-icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Tiva-icons-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-slide-arrow-left:before {
  content: "\e904";
}
.icon-slide-arrow-right:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-vk:before {
  content: "\e907";
}
.icon-g:before {
  content: "\e908";
}
.icon-mail-header:before {
  content: "\e909";
}
.icon-fax-header:before {
  content: "\e90a";
}
.icon-phone-header:before {
  content: "\e90b";
}
.icon-date:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-location-small:before {
  content: "\e90e";
}
.icon-empty-box:before {
  content: "\e90f";
}
.icon-location-large:before {
  content: "\e910";
}
.icon-phone-large:before {
  content: "\e911";
}
.icon-mail-large:before {
  content: "\e912";
}
.icon-map-location:before {
  content: "\e913";
}