.filter{
	ul{
		box-shadow: 0 0 6px 0 #d2d2d2;
		margin-top: 30px;
		&:first-child{
			margin-top: 0;
		}

		@media(max-width: $grid_mobile){
			box-shadow: none;
		}
		
		&.active{
			box-shadow: 0 0 6px 0 #d2d2d2;

			li{
				display: block !important;
			}
		}
	}

	li{
		height: 39px;
		line-height: 39px;
		border-bottom: 1px solid #e5e5e5;
		&:last-child{        
		   border-bottom: 0;
		}

		a,
		span{
			display: block;
      padding: 0 20px 0 15px;
      border-left: 6px solid transparent;
    
      font-size: 14px;

      @extend .nav_link_style;
		}

		&.active a{
			border-left-color: $green;
			background: $green;
			color: #fff;
			&:hover{
				color: #fff;
			}
		}
		&:hover a{
			border-left-color: $green;
			color: $green;
		}

		@media(max-width: $grid_mobile){
			display: none;
		}
	}

	.filter_mobile_button{
		display: block;
		position: relative;

		&:after{
			content: '+';
			height: 8px;
			line-height: 8px;
			width: 8px;
			position: absolute;
			z-index: 2;
			right: 15px;
			top: 15px;
			color: #323232;
			font-weight: 900;
			cursor: pointer;
		}

		&.active:after{
			content: '-';
		}

		span{
			color: $darkgrey;	
		}
		
		@media(min-width: $grid_mobile){
			display: none !important;
		}
	}

	.btn{
		margin-top: 30px;
		width: 100%;

		@media(max-width: $grid_mobile){
			margin-bottom: 30px;
		}
	}
}

