/* headers */
.headers_title{
  margin: 0;
  text-transform: uppercase;
  color: $green;
}
.h1_style{
  @extend .headers_title;
  
  font: {
    size: 55px;
    weight: 900;
  }

  @media(max-width: $grid_tablet){
    font-size: 35px;
  }
}

.h2_style{
  @extend .headers_title;

  font: {
    size: 45px;
    weight: 900;
  }

  @media(max-width: $grid_tablet){
    font-size: 30px;
  }
}

.h3_style{
  @extend .headers_title;

  font: {
    size: 30px;
    weight: 900;
  }
  @media(max-width: $grid_tablet){
    font-size: 20px;
  }
}

/* ck_editor */
.ck_editor{
  color: $black;
  line-height: 24px;
  font: {
    size: 16px;
    weight: 700;
  }

  @media(max-width: $grid_tablet){
    font-size: 13px;
  }

  &.bold{
    font-weight: 700;
  }

  &.small{
    font-size: 14px;
    font-weight: normal;

    @media(max-width: $grid_mobile){
      font-size: 12px;
    }
  }
}