#header{
  
  /* header top contacts */ 
  .top{
    background: $black;

    li,
    span,
    a{
      text-transform: uppercase;
      color: rgba(255,255,255, .7);
      font: {
        size: 14px;
        weight: 700;
      }
      display: inline-block;
      height: 30px;
      line-height: 30px;
      float: left;

      @media(max-width: $grid_tablet){
        font-size: 12px;
      }
    }
    i{
      margin-right: 10px;
      color: $green;
      font-size: 26px;
      position: relative;
      top: 2px;
      display: inline-block;
      height: 30px;
      float: left;

      @media(max-width: $grid_tablet){
        top: 3px;
      }

      &.icon-arrow-down{
        font-size: 40px;
        top: -3px;
        right: -3px;
        margin-right: 0;
      }
    }
  }

  #header_top_mobile_button{
    cursor: pointer;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: right;
    text-align: center;
    &.active i{
      top: 5px;
      transform: rotate(-180deg);
    }
  }
  
  /* main navigation wrapper */ 
  .bottom{
    min-height: 70px;
    border-bottom: 1px solid #d2d2d2;

    .container{
      position: relative;
    }
  }

  /* logo */
  .logo{
    margin-top: 10px;
    float: left;
  }
  
}

/* 
  Top header mobile menu 
  ===============
*/
#header_top_menu_mobile{
  display: none;
  // @include transition(height .5s);
  
  li{
    width: 100%;
  }

  &.active{
    border-top: 1px solid #000;
  }

}

/* 
  Main navigation 
  ===============
*/

/* set link style*/
.nav_link_style{
  font-weight: 700;
  color: $black;
  cursor: pointer;
  text-transform: uppercase;

  @include transition(all .25s ease);

  &:hover,
  &.active{
    color: $green;
  }
}

/* nav */
#nav{
  float: right;
  margin-top: 26px;

  @media(max-width: $grid_tablet){
    margin-top: 0px;
    position: absolute;
    top: 70px;
    background: #fff;
    z-index: 9999;
    margin-left: -15px;
    margin-right: -15px;

    display: none;

    &.active{
      display: block;
    }
  }
  
  > li{
    float: left;
    margin: 0 10px;
    position: relative;

    &:first-child{ margin-left: 0; }
    &:last-child{ margin-right: 0; }
    
    > a,
    > span{
      font-size: 16px;

      @extend .nav_link_style;

      @media(max-width: $grid_tablet){
        display: block;
        padding: 0 20px 0 15px;
        border-left: 6px solid transparent;
        
        font-size: 14px;

        &:hover,
        &:focus,
        &.active{
          border-left-color: $green;
        }
      }
    }
    
    &.active{
      /* tablet/mobile active*/
      @media(max-width: $grid_tablet){
        > a,
        > span{
          border-left-color: $green;
          color: $green;
        }
      }

      /* desktop active */
      @media(min-width: $grid_tablet){
        &:after{
          content: '';
          position: absolute;
          bottom: -26px;
          left: 0;
          height: 4px;
          width: 100%;
          background: $green;
        }
      }
    }

    > ul{
      top: 45px;

      @media(max-width: $grid_tablet){
        top: 0;
      }
    }

    /* tablet&mobile style */
    @media(max-width: $grid_tablet){
      width: 100%;
      margin-left: 0;

      &:last-child{        
        border-bottom: 0;
      }
    }

    @media(min-width: $grid_desktop){
      margin: 0 20px;
    }
  }

  /* forEach inner ul/a/span */
  ul {
    display: none;

    min-width: 160px;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background: #fff;

    &.active{
      display: block;
    }

    @media(max-width: $grid_tablet){
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      width: 100%;
    }

    a,
    span{
      display: block;
      padding: 0 20px 0 15px;
      border-left: 6px solid transparent;
    
      font-size: 14px;

      @extend .nav_link_style;

      &:hover,
      &:focus,
      &.active{
        border-left-color: $green;
      }
    }

    ul{
      left: calc(100% + 1px);

      @media(max-width: $grid_tablet){
        left: 0;
      }
    }

    li {
      height: 39px;
      line-height: 39px;
      border-bottom: 1px solid #e5e5e5;
      &:last-child{        
        border-bottom: 0;
      }
      
      &:first-child{
        @media(max-width: $grid_tablet){
          border-top: 1px solid #e5e5e5;
        }  
      }
      
    }
  }

  li { 
    position: relative; 
    @media(max-width: $grid_tablet){
      height: auto !important;
      line-height: 39px;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  
  /* forEach span*/
  span{

    i{
      display: inline-block;
      margin-left: 4px;
      position: relative;
      top: -2px;

      font-size: 10px;
      transform: rotate(0deg);
      
      @media(min-width: $grid_tablet){
        &.to_right{
          top: -1px;
          margin-left: 12px;
          transform: rotate(-90deg);
        }
      }

      @media(max-width: $grid_tablet){
        top: -1px;
      }
    }
  }

}

.mobile_menu_btn{
  float: right;
  width: 24px;
  margin-top: 28px;
  cursor: pointer;
  display: none;

  @media(max-width: $grid_tablet){
    display: block;
  }

  span{
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px; 
    margin-bottom: 4px;

    background: #323232;
  }

  &.active{
    span{
      margin: 6px 0;
    }
    span:first-child,
    span:last-child{
      display: none;
    }
  }
}