.mainpage_block{
  padding: 100px 0;
  
  .h2_style{ margin-bottom: 25px; }

  .btn{ margin-top: 50px; }

  .ck_editor{ margin-bottom: 40px; }

  @media(max-width: $grid_mobile){
    padding: 50px 0;
  }
}

/* 
  Banner 
  ======
*/
.mainpage_banner_wrapper{
  position: relative;
}
/* dots */
.banner_dots{
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 0;
  height: 100%;

  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .slick-active button{
    font-size: 30px;
    color: $green;

    @media(max-width: $grid_tablet){
      font-size: 20px;
    }
  }
  button{
    padding: 0;
    border: 0;
    outline: 0;
    margin-bottom: 10px;

    background: 0;
    color: #fffffe;
    cursor: pointer;

    font: {
      size: 14px;
      weight: 900;
    }

    @media(max-width: $grid_tablet){
      font-size: 12px;
    }
  }

  @media(max-width: $grid_tablet){
    top: auto;
    bottom: 30px;
    left: 0;
    right: auto;
    width: 100%;
    flex-direction: row;
    height: auto;

    li{
      display: inline-block;
      margin: 0 4px;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
    }
  }
}

.mainpage_banner_block{
  position: relative;
  /* img fix ?*/ 
  // line-height: 0;
  height: 600px !important;
  
  /* webpack issue.. */
  background: $black 50% no-repeat;
  background-size: cover;

  // min-height: 600px !important;

  .content{
    padding-top: 145px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background: rgba(0,0,0, .6);
    z-index: 2;
    height: 100%;
    color: #fff;
    line-height: 1.15;

    .btn{
      margin-top: 50px;
      color: #fff;

      @media(max-width: $grid_mobile){
        margin-top: 25px;
        width: 100%;
      }
    }

    &.in_slider{
      padding-left: 115px;
    }
    
    h2{
      margin: 0 0 35px;
      text-transform: uppercase;
      font:{
        size: 55px;
        weight: normal; 
      }
      color: $green;
      span{
        font-weight: 900;
        color: #fff;
      }
    }

    .ck_editor{
      color: #fff;
    }

    @media(max-width: $grid_tablet){
      padding: 75px 15px 0 70px;
      h2{
        font-size: 35px;
      }
    }

    @media(max-width: $grid_mobile){
      top: 15px !important;
      right: 15px !important;
      bottom: 15px !important;
      left: 15px !important;
      padding: 50px 15px !important;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
    }
    
  }
  @media(max-width: $grid_tablet){
    height: 400px !important;
  }
}

.welcome_text{
  height: 230px;
  background: $black;
  padding-top: 70px;
  p{
    margin-top: 10px;

    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
  }
}

/* 
  Section more 
  ============
*/
section.more{
  // background: ('../mainpage_about_bg.jpg') no-repeat 0 0;
  .content{
    right: auto;
    left: 0;
  }
}

/* 
  Category block 
  ==============
*/
.mainpage_category_block{
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  
  /* title */ 
  p{
    text-transform: uppercase;
    color: #fff;
    font: {
      size: 18px;
      weight: 900;
    }
  }

  &:hover{
    .bg_black{ display: flex; }
  }

  /* btn */ 
  .btn{
    margin-top: 30px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
  }

  /* fake hover*/
  .bg_black{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0, .4);

    width: 100%;
    height: 100%;

    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: $grid_tablet){
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: 0;
    }
  }
  
  /* category block responive */ 
  @media(max-width: $grid_tablet){
    border: 1px solid $darkgrey;
    padding-bottom: 75px;

    p,
    .btn{ color: $black; }

    .bg_white{ 
      padding-top: 20px;
      width: 100%;
      height: 75px;
      background: #fff; 

      .btn{ display: none; }
    }

    &:hover{
      .bg_black{
        background: rgba(0,0,0, .4);
      }
      .bg_white{
        height: 125px;
      }
      .btn{
        display: block;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

/* category slick */ 
.category_slick_arrows{
  @extend .clearfix;
  
  .slick-arrow{
    margin: 0 15px 30px;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0;
    
    color: #918f8f;
    cursor: pointer;
    font: {
      size: 16px;
      weight: 900;
    }
    
    @include transition(color .25s ease);

    &:hover{
      color: $green;
    }
    &:focus{
      color: $black;
    }

    &.slick-prev{
      float: left;
    }
    &.slick-next{
      float: right;
    }

    @media(max-width: $grid_tablet){
      margin: 0 15px 20px;
      font-size: 13px;
    }
  }
}

/* mainpage advantages */ 
.mainpage_advantages{
  background: #fbfbfb;
  img{
    max-width: 70%;
    margin: 0 auto;
    padding: 4px;
    border: {
      width: 1px;
      style: solid;
      color: #000000;
      radius: 50%;
    }
    background: transparent;

    @media(max-width: $grid_tablet){
      margin-top: 30px;
    }
  }
  .title{
    margin-top: 30px;
    margin-bottom: 45px;

    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;

    color: $darkgrey;

    @media(max-width: $grid_tablet){
      font-size: 16px;
      margin-bottom: 0;
    }
  }

}

/* mainpage news */
.mainpage_news{
  .btn{
    @media(max-width: $grid_tablet){
      margin-top: 0px;
    }
  }
} 
.news_block{
  text-align: left;
  border: 1px solid $darkgrey;

  .fake{
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
    width: calc(100% - 30px);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0, .6);

    @include transition(color .25s ease);
    .btn{
      width: 120px;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      color: #fff;
      font-size: 12px;
    }
  }

  .date{
    margin: 35px 0 25px;
    font-size: 12px;
    color: $darkgrey;
  }
  .title{
    margin-bottom: 15px;
    display: inline-block;
    font:{
      size: 18px;
      weight: 900;
    }
    line-height: 24px;
    color: $black;
    @include transition(color .25s ease);

    &:hover{
      color: $green;
    }

  }
  .ck_editor{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    color: $darkgrey;
  }
  @media(max-width: $grid_mobile){
    .content{
      padding: 30px;
    }
    .date{
      margin: 0 0 20px;
    }
    .title{
      font-size: 16px;
    }
    .ck_editor{
      font-size: 12px;
      font-weight: normal;
    }
  }
  @media(max-width: $grid_tablet){
    margin-bottom: 30px;
  }
}
