.mainpage_block{
  padding: 100px 0;
  
  .h2_style{ 
    margin-bottom: 25px; 
    @media(max-width: $grid_tablet){
      margin-bottom: 10px;
    }
  }

  .btn{ margin-top: 50px; }

  .ck_editor{ margin-bottom: 40px; }

  @media(max-width: $grid_tablet){
    padding: 70px 0;
  }

  @media(max-width: $grid_mobile){
    padding: 50px 0;
  }
}

/* 
  Banner 
  ======
*/
.mainpage_banner_wrapper{
  position: relative;
}
/* dots */
.banner_dots{
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 0;
  height: 100%;

  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .slick-active button{
    font-size: 30px;
    color: $green;

    @media(max-width: $grid_tablet){
      font-size: 20px;
    }
  }
  button{
    padding: 0;
    border: 0;
    outline: 0;
    margin-bottom: 10px;

    background: 0;
    color: #fffffe;
    cursor: pointer;

    font: {
      size: 14px;
      weight: 900;
    }

    &:before{
      content: '0';
    }

    &:after{
      content: '.';
    }

    @media(max-width: $grid_tablet){
      font-size: 12px;
    }
  }

  @media(max-width: $grid_tablet){
    top: auto;
    bottom: 30px;
    left: 0;
    right: auto;
    width: 100%;
    flex-direction: row;
    height: auto;

    li{
      display: inline-block;
      margin: 0 4px;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
    }
  }
}

.mainpage_banner_block{
  position: relative;
  height: 600px !important;
  
  background-color: $black;
  // -webkit-background-size: cover; 
  // background-size: cover;
  
  /* test style */ 
  .container_fake{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, .6);
    
    &.inslider{
      left: 50%;
    }
    @media(max-width: $grid_mobile){
      top: 15px !important;
      right: 15px !important;
      bottom: 15px !important;
      left: 15px !important;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
    }

  }
  .container{
    z-index: 2;
    position: relative;

    display: flex;
    height: 100%;
  }
  h2{
    margin: 0 0 35px;
    text-transform: uppercase;
    position: relative;
    font:{
      size: 55px;
      weight: normal; 
    }
    color: $green;
    span{
      font-weight: 900;
      color: #fff;
    }

    @media(max-width: $grid_mobile){
      font-size: 25px;
    }

    @media(max-width: $grid_tablet){
      font-size: 35px;
    }


  }
  .ck_editor{
    color: #fff;
    opacity: .7;
  }

  .ctnt{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .title_slider{
    &:before{
      content: '';
      background: url('/front/img/line_bg_b.png') no-repeat 0 0;
      width: 85px;
      height: 7px;
      position: absolute;
      top: 30px;
      left: -110px;
      z-index: 10;
      @media(max-width: $grid_mobile){
        display: none;
      }
      @media(max-width: $grid_tablet){
        background: url('/front/img/line_bg.png') no-repeat 0 0;
        width: 48px;
        left: -75px;
        top: 18px;
      }
    }
  }

  .title_not_slider{
    font-size: 45px;
    margin-bottom: 25px;

    @media(max-width: $grid_mobile){
      font-size: 25px;
    }

    @media(max-width: $grid_tablet){
      font-size: 30px;
      margin-bottom: 15px;
    }

    &:before{
      content: '';
      background: url('/front/img/line_bg_b.png') no-repeat 0 0;
      width: 85px;
      height: 7px;
      position: absolute;
      top: 30px;
      left: -110px;
      z-index: 10;
      @media(max-width: $grid_mobile){
        display: none;
      }
      @media(max-width: $grid_tablet){
        background: url('/front/img/line_bg.png') no-repeat 0 0;
        width: 48px;
        left: -75px;
        top: 18px;
      }
    }
  }

  
  /* */ 

  @media(max-width: $grid_tablet){
    height: 400px !important;
  }
}

.welcome_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  background: $black;
  text-align: center;
  
  @media(max-width: $grid_tablet){
    height: 160px;
  }

  @media(max-width: $grid_mobile){
    height: 180px;
  }

  h1{
    line-height: 55px;
    @media(max-width: $grid_tablet){
      line-height: 35px;
    }
    @media(max-width: $grid_mobile){
      font-size: 25px;
      line-height: 25px;
    }
  }
  p{
    margin-top: 25px;

    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    @media(max-width: $grid_tablet){
      margin-top: 18px;
      font-size: 20px;
    }
  }
}

/* 
  Section more 
  ============
*/
section.more{
  
  @media(max-width: $grid_tablet){
    .mainpage_banner_block{
      height: 490px !important;
    }
  }

  .banner_bold{
    font: {
      size: 16px;
      weight: 700;
    }
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 40px;

    @media(max-width: $grid_tablet){
      margin-bottom: 20px;
    }
  }
  .ck_editor{
    font-weight: normal;
    margin-bottom: 40px;

    @media(max-width: $grid_tablet){
      margin-bottom: 30px;
    }
  }
  .btn_wrapper{
    width: 100%;
  }
  .btn{
    color: #fff;
    @media(max-width: $grid_mobile){
      width: 100%;
    }
  }
}

/* 
  Category block 
  ==============

  watch categories.scss
*/

/* category slick */ 
.category_slick_arrows{
  @extend .clearfix;
  
  .slick-arrow{
    margin: 0 15px 30px;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0;
    
    color: #918f8f;
    cursor: pointer;
    font: {
      size: 16px;
      weight: 900;
    }
    
    @include transition(color .25s ease);

    &:hover{
      color: $green;
    }
    &:focus{
      color: $black;
    }

    &.slick-prev{
      float: left;
    }
    &.slick-next{
      float: right;
    }

    @media(max-width: $grid_tablet){
      margin: 0 15px 20px;
      font-size: 13px;

      i{
        top: 9px;
      }
    }
  }

  i{
    position: relative;
    line-height: 1px;
    font-size: 30px;
    display: inline-block;
    height: 15px;
    top: 7px;

    &.icon-slide-arrow-left{
      left: -7px;
    }
    &.icon-slide-arrow-right{
      right: -7px;
    }
  }
}

/* mainpage advantages */ 
.mainpage_advantages{
  background: #fbfbfb;
  img{
    max-width: 70%;
    margin: 0 auto;
    padding: 4px;
    border: {
      width: 1px;
      style: solid;
      color: #000000;
      radius: 50%;
    }
    background: transparent;

    @media(max-width: $grid_tablet){
      margin-top: 30px;
      max-width: 90%;
    }
  }
  .title{
    margin-top: 30px;
    margin-bottom: 45px;

    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;

    color: $darkgrey;

    @media(max-width: $grid_tablet){
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  @media(max-width: $grid_tablet){
    .ck_editor{
      margin-bottom: 0;
    }
  }

}

/* mainpage news */
.mainpage_news{
  .btn{
    @media(max-width: $grid_tablet){
      margin-top: 0px;
    }

    @media(max-width: $grid_mobile){
      width: 100%;
    }
  }
} 
.news_block{
  text-align: left;
  border: 1px solid $darkgrey;
  overflow: hidden;
  
  &:hover{
    .fake{
      // display: flex;
      opacity: 1;
    }
  }
  .fake{
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
    width: calc(100% - 30px);
    height: 100%;
    
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0, .6);

    @include transition(all .5s ease);

    .btn{
      width: 120px;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      color: #fff;
      font-size: 12px;
    }
  }

  .content{
    padding: 40px 15px 10px 0;

    @media(max-width: $grid_tablet){
      padding: 30px 30px 10px 0;
    }

    @media(max-width: $grid_mobile){
      padding: 25px 15px;
    }
  }

  .date{
    margin-bottom: 25px;
    font-size: 12px;
    color: $darkgrey;

    @media(max-width: $grid_tablet){
      margin-bottom: 20px;
    }
  }
  .title{
    margin-bottom: 15px;
    display: inline-block;
    font:{
      size: 18px;
      weight: 900;
    }
    line-height: 24px;
    color: $black;
    @include transition(color .25s ease);

    &:hover{
      color: $green;
    }

    @media(max-width: $grid_tablet){
      font-size: 16px;
    }

  }
  .ck_editor{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    color: $darkgrey;
    font-weight: normal;

    @media(max-width: $grid_tablet){
      font-size: 12px;
      font-weight: normal;
    }
  }
  /* @media(max-width: $grid_mobile){
    .date{
      margin: 0 0 20px;
    }
    .title{
      font-size: 16px;
    }
    .ck_editor{
      font-size: 12px;
      font-weight: normal;
    }
  } */
  @media(max-width: $grid_tablet){
    margin-bottom: 30px;
  }
}
