.news_page{
	@extend ._page;
	
	h1.h2_style{
		margin-top: 0;
		margin-bottom: 30px;
	}

	.news_item{
		float: left;
		width: 100%;
		margin-top: 50px;

		@media(max-width: $grid_tablet){
			margin-top: 30px;
		}

		&:first-child{
			margin-top: 0;
		}

		.date{
			margin: 25px 0;
			font-size: 12px;
			color: $darkgrey;
			
			/* icon */ 
			.icon-date{
		    display: inline-block;
		    height: 17px;
		    line-height: 17px;
		    float: left;
		    margin-top: -2px;
		    margin-left: -5px;
		    margin-right: 5px;

		    font-size: 25px;
			}

			@media(max-width: $grid_tablet){
				margin: 0 0 15px;
				font-size: 10px;
			}

			@media(max-width: $grid_mobile){
				margin: 25px 0;
			}
		}

		.title{
			display: inline-block;
			margin-bottom: 15px;

			font: {
				size: 18px;
				weight: 900;
			}
			line-height: 24px;
			color: $black;

			@include transition(color .25s ease);

			&:hover{
				color: $green;
			}

			@media(max-width: $grid-tablet){
				font-size: 16px;
			}
		}

		.ck_editor{
			color: $darkgrey;
			margin-bottom: 40px;

			@media(max-width: $grid_mobile){
				/* margin-bottom: 25px; */
			}
			
			@media(max-width: $grid-tablet){
				font-size: 12px;
				margin-bottom: 25px;
			}
		}

		.btn{
			@media(max-width: $grid_tablet){
				width: 160px;
				height: 40px;
				line-height: 40px;
				font-size: 13px;
			}
			@media(max-width: $grid_mobile){
				width: 100%;
			}
		}
	}	

	.line_bg{
		margin-left: -30px;
		width: calc(100% + 30px);
		background: rgba($black, .5);
		margin-top: 78px;
		
		@media(max-width: $grid-tablet){
			margin-top: 43px;
		}

		@media(max-width: $grid_mobile){
			display: none;
		}
	}
}

/* 
  News item page
  ==============
*/ 
.news_item_page{
	@extend ._page;
	h1{
		color: $black;
		text-align: center;
		margin-bottom: 0;

		@media(max-width: $grid-tablet){
			font-size: 20px;
		}
	}

	.date{
		margin: 30px 0;

		text-align: center;
		font-size: 12px;
		line-height: 14px;
		color: $darkgrey;

		@media(max-width: $grid-tablet){
			font-size: 10px;
		}

		.icon-date{
	    display: inline-block;
	    height: 17px;
	    line-height: 17px;
	    margin-top: -2px;
	    margin-left: -5px;
	    vertical-align: middle;

	    font-size: 25px;
		}
	}
	img{
		margin: 25px 0;
		@media(max-width: $grid-tablet){
			margin: 15px 0;
		}
	}

	.share{ 
		margin-top: 25px;
		span{
			display: block;
			float: left;
			height: 33px;
			line-height: 33px;
			padding-right: 20px;
			font-size: 12px;
			color: $black;

			@media(max-width: $grid-tablet){
				font-size: 10px;
			}
		}
		a:hover,
		a:focus{
			color: #fff;
		}
	}

	.ck_editor{
		color: $darkgrey;
		@media(max-width: $grid-tablet){
			font-size: 12px;
		}
	}
}