.page_producers{
	@extend ._page;
}

.producers_wrapper{

}

.producers_item{
	margin-bottom: 50px;
	@media(max-width: $grid_tablet){
		margin-bottom: 30px;
	}

	.img_wrap{
		height: 185px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #fefefe;
		img{
			margin: 0 auto;
			@extend .img-responsive;
		}	
	}
	
	.divider{
		margin: 0 0 30px;

		height: 1px;
		background: $darkgrey;

		@media(max-width: $grid_tablet){
			margin: 0 0 18px;
		}
	}
	.title{
		display: inline-block;
		margin-bottom: 25px;

		font: {
			size: 18px;
			weight: 900;
		}
		line-height: 18px;
		color: #323232;
		text-transform: uppercase;

		@include transition(color .25s ease);

		&:hover{
			color: $green;
		}

		@media(max-width: $grid_tablet){
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
	.ck_editor{
		font-weight: normal;
		font-size: 14px;
		color: #898989;

		@media(max-width: $grid_tablet){
			font-size: 12px;
		}
	}

}